body {
    background-image: url(../images/boobs.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

a{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

header {
    background-image: linear-gradient(100deg, #248, #36c);
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;

    
    font-family: DynaPuff, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 400;

    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-items: end;
}

.banner * {
    display: inline;
}

.banner h1 {
    margin: 0 0 0 20px;
    font-size: 100px;
}

.dot {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -5px;
}

.style-select * {
    display: inline-block;
}

.style-select ul li {
    margin-left: 40px; 
    width: 50px;
}

.style-select ul li a:hover {
    font-size: larger;
}

.loved-ones-link {
    background-image: url(../images/heart.png);
    background-size: 100%;
    height: 110px;
    width: 100px;

    justify-self: end;
    align-self: center;
    margin-right: 40px;
}

.loved,
.ones {
    font-size: 20px;
    height: 26px;
}

.loved {
    margin: 35px 0 0 10px;
}

.ones {
    margin: 0 0 0 32px;
}

.loved-ones-link:hover a h2 {
    font-size: 22px;
    height: 24px;
}

.hey,
.love-you {
    font-family: "Mystery Quest";
    font-weight: 1000;
    font-size: 100px;
    color: maroon;
    text-shadow: 5px 5px 5px darkgray;
}

.hey {
    margin-top: 12%;
    margin-left: 30%;
}

.love-you {
    margin-top: 11%;
    margin-left: 50%;
}