html {
    font-size: 16px;
}

a{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header,
footer {
    background-image: linear-gradient(100deg, #248, #36c);
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 7rem;
}

header *,
footer * {
    font-family: DynaPuff, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 400;
}

.banner * {
    display: inline;
}

.banner h1 {
    margin: 0 0 0 20px;
    font-size: 6.25rem;
}

.dot {
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: -0.3125rem;
}

nav {
    display: flex;
    align-items: center;
}

nav .link {
    margin: 0 1rem;

    height: 6.875rem;
    width: 6.25rem;
}

nav a {
    height: 100%;
    width: 100%;
}

.story {
    background-image: url(../images/scroll.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.story a {
    display: flex;
    align-items: center;

    font-size: 1rem;
}

.story a:hover {
    font-size: 1.125rem;
}

.story h2 {
    text-align: center;
    font-size: 1em;

    width: 80%;
    margin: 0 auto;
    
}

.loved-ones {
    background-image: url(../images/heart.png);
    background-size: 100%;
    background-repeat: no-repeat;

    justify-self: flex-end;
}

.loved-ones a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
}

.loved-ones a:hover {
    font-size: 1.375rem;
}

.loved,
.ones {
    font-size: 1em;
}

footer {
    height: 3rem;
    width: 100%;
}

.style-foot{
    height: 100%;
    width: 300px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer h2 {
    font-size: 1rem;
}

footer a {
    font-size: 0.75rem;
}

/*Header Tablet*/

@media only screen and (max-width: 890px) {
    .banner h1 {
        font-size: 3rem;
    }

    .dot {
        font-size: 0.6rem;
        letter-spacing: 0;
    }
}

/* Header Mobile */

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: space-around;
    }

    .banner {
        text-align: center;
    }

    nav {
        justify-content: space-around;

        width: 80%;
        height: 2.25rem;
    }

    nav .link {
        height: 2.125rem;
        width: 1.875rem;
        padding: 0rem;
    }

    nav h2 {
        display: none;
    }
}

/*Main section*/

main {
    background-image: url(../images/balls.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex-grow: 1;
}

.love-you {
    position: absolute;
    bottom: 15%;

    width: 100%;
    text-align: center;
    font-family: "Mystery Quest";
    font-weight: 1000;
    font-size: 100px;
    color: maroon;
    text-shadow: 5px 5px 5px darkgray;
}